@font-face {
    font-family: 'HuntersFury';
    src: url(fonts/HuntersFury.ttf);
  }

body,
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overscroll-behavior: none
}

html {
    box-sizing: border-box;
    border-collapse: collapse;
    -webkit-text-size-adjust: 100%
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    border-collapse: inherit;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent
}

a {
    outline: none;
    color: inherit;
    text-decoration: none
}

img,
video {
    width: 100%;
    height: auto;
    border: none;
    display: block;
    user-select: none
}

img {
    pointer-events: none
}

blockquote,
h1,
h2,
h3,
h4,
h5,
p {
    font-weight: normal
}

hr {
    border: 0;
    outline: 0
}

button {
    border: 0;
    outline: 0;
    cursor: pointer;
    appearance: none;
    background: none;
    font-size: 0.972vw;
    font-family: 'HuntersFury'
}

header,
section,
footer {
    position: relative
}

@media only screen and (max-width: 580px) {
    button {
        font-size: 3.889vw
    }
}

.f-0 {
    font-weight: 500;
    user-select: none;
    font-style: normal;
    font-size: 20.417vw;
    line-height: 16.319vw;
    letter-spacing: -0.07em
}

@media only screen and (max-width: 580px) {
    .f-0 {
        height: 33.333vw;
        line-height: 30vw;
        font-size: 47.222vw
    }
}

.f-1 {
    font-weight: 500;
    font-style: normal;
    font-size: 19.375vw;
    line-height: 15.486vw;
    letter-spacing: -0.07em
}

@media only screen and (max-width: 580px) {
    .f-1 {
        font-size: 20.556vw;
        line-height: 16.389vw;
        letter-spacing: -0.05em
    }
}

.f-2 {
    font-weight: 500;
    font-style: normal;
    font-size: 14.028vw;
    line-height: 11.25vw;
    letter-spacing: -0.05em
}

@media only screen and (max-width: 580px) {
    .f-2 {
        font-size: 20.556vw;
        line-height: 16.389vw;
        letter-spacing: -0.05em
    }
}

.f-3 {
    font-weight: 500;
    font-style: normal;
    font-size: 10.208vw;
    line-height: 8.194vw;
    letter-spacing: -0.04em
}

.f-3 small {
    font-size: 1.389vw;
    display: inline-block;
    letter-spacing: -0.02em
}

@media only screen and (max-width: 580px) {
    .f-3 {
        font-size: 13.194vw;
        line-height: 11.944vw;
        letter-spacing: -0.03em
    }
    .f-3 small {
        font-size: 3.889vw;
        line-height: 3.611vw;
        letter-spacing: -0.02em;
        transform: translate(-2vw, -6vw)
    }
}

.f-4,
#s-awards h3,
#h-contact .quote ul,
#s-story h3,
#s-viral h3 {
    font-weight: 500;
    font-style: normal;
    font-size: 4.167vw;
    line-height: 4.167vw;
    letter-spacing: -0.02em;
    text-transform: uppercase
}

.f-4 small,
#s-awards h3 small,
#h-contact .quote ul small,
#s-story h3 small,
#s-viral h3 small {
    line-height: 0;
    font-size: 1.389vw;
    position: relative;
    display: inline-block;
    letter-spacing: -0.02em;
    transform: translate(0.3vw, -1.95vw)
}

@media only screen and (max-width: 580px) {
    .f-4,
    #s-awards h3,
    #h-contact .quote ul,
    #s-story h3,
    #s-viral h3 {
        font-size: 8.333vw;
        line-height: 8.889vw
    }
    .f-4 br,
    #s-awards h3 br,
    #h-contact .quote ul br,
    #s-story h3 br,
    #s-viral h3 br {
        display: none
    }
    .f-4 small,
    #s-awards h3 small,
    #h-contact .quote ul small,
    #s-story h3 small,
    #s-viral h3 small {
        font-size: 2.778vw;
        transform: translate(0.556vw, -3.611vw)
    }
}

.f-5 {
    font-weight: 500;
    font-style: normal;
    font-size: 3.299vw;
    line-height: 2.986vw;
    letter-spacing: -0.03em
}

@media only screen and (max-width: 580px) {
    .f-5 {
        font-size: 6.944vw;
        line-height: 6.389vw
    }
}

.f-6,
#h-bio .bottom-c p {
    font-style: normal;
    font-weight: normal;
    font-size: 1.528vw;
    line-height: 2.014vw;
    letter-spacing: -0.005em
}

@media only screen and (max-width: 580px) {
    .f-6,
    #h-bio .bottom-c p {
        font-size: 3.889vw;
        line-height: 5.833vw;
        letter-spacing: 0.02em
    }
}

.f-7 {
    font-weight: 500;
    font-style: normal;
    font-size: 1.389vw;
    line-height: 1.25vw;
    letter-spacing: -0.02em
}

@media only screen and (max-width: 580px) {
    .f-7 {
        font-size: 5vw;
        line-height: 4.444vw
    }
}

.f-8 {
    font-weight: 500;
    font-style: normal;
    font-size: 0.972vw;
    line-height: 1.111vw;
    letter-spacing: 0.02em;
    text-transform: uppercase
}

@media only screen and (max-width: 580px) {
    .f-8 {
        font-size: 3.889vw;
        line-height: 3.889vw
    }
}

.f-9 {
    font-style: normal;
    font-weight: normal;
    font-size: 0.833vw;
    line-height: 0.972vw;
    letter-spacing: 0.02em;
    text-transform: uppercase
}

@media only screen and (max-width: 580px) {
    .f-9 {
        font-size: 3.333vw;
        line-height: 3.889vw
    }
}

.f-u,
#s-awards a,
#s-awards button,
#h-bio a,
#s-contact .f-2,
#s-contact .location li:last-child a,
#a-footer a,
#a-footer button,
#h-contact a,
#h-campaign a,
#h-hero a,
#a-menu a,
#s-roots a,
#s-story a,
#s-viral a {
    position: relative
}

.f-u:before,
#s-awards a:before,
#s-awards button:before,
#h-bio a:before,
#s-contact .f-2:before,
#s-contact .location li:last-child a:before,
#a-footer a:before,
#a-footer button:before,
#h-contact a:before,
#h-campaign a:before,
#h-hero a:before,
#a-menu a:before,
#s-roots a:before,
#s-story a:before,
#s-viral a:before {
    left: 0;
    bottom: 1px;
    width: 100%;
    height: 1px;
    content: '';
    position: absolute;
    background: #100f0f;
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.4s ease-out
}

@media only screen and (max-width: 580px) {
    .f-u:before,
    #s-awards a:before,
    #s-awards button:before,
    #h-bio a:before,
    #s-contact .f-2:before,
    #s-contact .location li:last-child a:before,
    #a-footer a:before,
    #a-footer button:before,
    #h-contact a:before,
    #h-campaign a:before,
    #h-hero a:before,
    #a-menu a:before,
    #s-roots a:before,
    #s-story a:before,
    #s-viral a:before {
        transition: unset
    }
}

.f-u:hover:before,
#s-awards a:hover:before,
#s-awards button:hover:before,
#h-bio a:hover:before,
#s-contact .f-2:hover:before,
#s-contact .location li:last-child a:hover:before,
#a-footer a:hover:before,
#a-footer button:hover:before,
#h-contact a:hover:before,
#h-campaign a:hover:before,
#h-hero a:hover:before,
#a-menu a:hover:before,
#s-roots a:hover:before,
#s-story a:hover:before,
#s-viral a:hover:before {
    transform: scaleX(0);
    transform-origin: right
}

@media only screen and (max-width: 580px) {
    .f-u:hover,
    #s-awards a:hover,
    #s-awards button:hover,
    #h-bio a:hover,
    #s-contact .f-2:hover,
    #s-contact .location li:last-child a:hover,
    #a-footer a:hover,
    #a-footer button:hover,
    #h-contact a:hover,
    #h-campaign a:hover,
    #h-hero a:hover,
    #a-menu a:hover,
    #s-roots a:hover,
    #s-story a:hover,
    #s-viral a:hover {
        transform: scaleX(1)
    }
}

.is-bio .f-u:before,
.is-bio #s-awards a:before,
#s-awards .is-bio a:before,
.is-bio #s-awards button:before,
#s-awards .is-bio button:before,
.is-bio #h-bio a:before,
#h-bio .is-bio a:before,
.is-bio #s-contact .f-2:before,
#s-contact .is-bio .f-2:before,
.is-bio #s-contact .location li:last-child a:before,
#s-contact .location li:last-child .is-bio a:before,
.is-bio #a-footer a:before,
#a-footer .is-bio a:before,
.is-bio #a-footer button:before,
#a-footer .is-bio button:before,
.is-bio #h-contact a:before,
#h-contact .is-bio a:before,
.is-bio #h-campaign a:before,
#h-campaign .is-bio a:before,
.is-bio #h-hero a:before,
#h-hero .is-bio a:before,
.is-bio #a-menu a:before,
#a-menu .is-bio a:before,
.is-bio #s-roots a:before,
#s-roots .is-bio a:before,
.is-bio #s-story a:before,
#s-story .is-bio a:before,
.is-bio #s-viral a:before,
#s-viral .is-bio a:before {
    background: #fcf6f4
}

@keyframes noise {
    0% {
        transform: translate3d(0, 9rem, 0)
    }
    10% {
        transform: translate3d(-1rem, -4rem, 0)
    }
    20% {
        transform: translate3d(-8rem, 2rem, 0)
    }
    30% {
        transform: translate3d(9rem, -9rem, 0)
    }
    40% {
        transform: translate3d(-2rem, 7rem, 0)
    }
    50% {
        transform: translate3d(-9rem, -4rem, 0)
    }
    60% {
        transform: translate3d(2rem, 6rem, 0)
    }
    70% {
        transform: translate3d(7rem, -8rem, 0)
    }
    80% {
        transform: translate3d(-9rem, 1rem, 0)
    }
    90% {
        transform: translate3d(6rem, -5rem, 0)
    }
    to {
        transform: translate3d(-7rem, 0, 0)
    }
}

@keyframes spinning {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

[data-effect='mask'] p {
    margin-top: -0.3vw
}

@media only screen and (max-width: 580px) {
    [data-effect='mask'] p {
        margin-top: 0
    }
}

[data-effect='fade'] a,
[data-effect='mask'] a {
    display: inline-block
}

[data-effect='fade']>*,
[data-effect='mask']>* {
    visibility: hidden
}

.is-device [data-effect='fade'] *>,
.is-device [data-effect='mask'] *> {
    visibility: inherit
}

@media only screen and (max-width: 580px) {
    [data-effect='fade'] *>,
    [data-effect='mask'] *> {
        visibility: inherit
    }
}

body {
    font-size: 0.972vw;
    font-style: normal;
    font-weight: normal;
    line-height: 1.389vw;
    letter-spacing: 0.02em;
    font-family: 'HuntersFury'
}

.is-light ::selection {
    opacity: 1;
    color: #fcf6f4;
    background-color: rgba(0, 0, 0, 0.99)
}

.is-dark ::selection {
    opacity: 1;
    color: #100f0f;
    background-color: rgba(255, 255, 255, 0.99)
}

::-webkit-scrollbar {
    display: none
}

#a-main {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    position: fixed
}

#a-main:before {
    top: -10rem;
    left: -10rem;
    width: calc(100% + 20rem);
    height: calc(100% + 20rem);
    z-index: 9;
    content: '';
    position: absolute;
    pointer-events: none;
    background-position: 50%;
    background-image: url(./images/noise.png);
    pointer-events: none;
    animation: noise 1s steps(2) infinite
}

.is-loading * {
    pointer-events: none
}

.is-preloading .a-wrapper {
    visibility: hidden
}

.a-page {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    transform: translate3d(0px, 0px, 0px);
    color: #100f0f;
    background: #fcf6f4;
    backface-visibility: hidden
}

.a-page:nth-child(1) {
    z-index: 1
}

.a-scroll {
    overflow: hidden;
    will-change: transform
}

.head {
    top: 0;
    left: 0;
    position: absolute
}

.head .f-8:after {
    height: 1px;
    width: 0.833vw;
    content: '';
    display: block;
    background: #100f0f;
    margin-top: 1.181vw
}

.is-bio,
.is-player {
    color: #fcf6f4;
    background: #100f0f
}

.is-bio #a-footer button,
.is-player #a-footer button {
    color: #fcf6f4
}

.is-bio .head .f-8:after,
.is-player .head .f-8:after {
    background: #fcf6f4
}

.is-campaign {
    color: #100f0f;
    background: #dbe3e5
}

.is-contact {
    color: #100f0f;
    background: #e5e5e5
}

.is-device {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow: hidden
}

.is-device .a-wrapper {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow: hidden;
    overflow-y: scroll
}

@media only screen and (max-width: 580px) {
    body {
        font-size: 2.889vw;
        line-height: 5.833vw
    }
    #a-main:before {
        display: none
    }
    .head {
        top: unset;
        left: unset;
        position: relative;
        margin-bottom: 8.333vw
    }
    .head .f-8:after {
        width: 3.333vw;
        margin-top: 4.167vw
    }
}

h1 {
    width: 1px;
    height: 1px;
    overflow: hidden;
    text-indent: -99vw;
    position: absolute
}

.line {
    overflow: hidden
}

.line div {
    position: relative;
    will-change: transform;
    backface-visibility: hidden
}

@font-face {
    font-family: 'HuntersFury';
    src: url(./fonts/MonumentGrotesk-Regular.woff2) format("woff2"), url(./fonts/MonumentGrotesk-Regular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'HuntersFury';
    src: url(./fonts/MonumentGrotesk-Medium.woff2) format("woff2"), url(./fonts/MonumentGrotesk-Medium.woff) format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

#s-awards {
    color: #fcf6f4;
    margin: 0 6.528vw 12.5vw
}

#s-awards a:before {
    width: 101%
}

#s-awards button {
    float: right;
    color: #fcf6f4;
    margin-top: 3.472vw
}

#s-awards button:before {
    right: 0;
    left: 0.8vw;
    width: auto
}

#s-awards .head {
    top: 0.5vw
}

#s-awards .quote {
    position: relative;
    margin: 0 21.555vw 0 22.153vw
}

#s-awards .quote .f-8 {
    right: 0;
    bottom: 0.2vw;
    position: absolute
}

#s-awards .logos {
    margin: 8.681vw 2.778vw 0 22.153vw
}

#s-awards .logos ul {
    display: flex;
    flex-wrap: wrap
}

#s-awards .logos li {
    width: 30%;
    text-align: center
}

#s-awards .logos li:nth-child(3n+2) {
    width: 40%
}

#s-awards .logos li:first-child {
    margin-bottom: 6.944vw
}

#s-awards .logos img {
    margin: auto;
    width: auto;
    height: 5.208vw;
    margin-bottom: 1.389vw
}

#s-awards .more,
#s-awards .overview {
    position: relative;
    margin: 8.681vw 0 0 22.153vw
}

#s-awards .more {
    margin-top: 0
}

#s-awards .more .list {
    height: 1px;
    overflow: hidden
}

#s-awards .year {
    position: relative;
    padding: 2.083vw 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2)
}

#s-awards .year .f-8 {
    left: 0;
    top: 2.083vw;
    position: absolute
}

#s-awards .award {
    display: flex;
    padding-left: 7.639vw
}

#s-awards .award li {
    width: 14.792vw
}

@media only screen and (max-width: 580px) {
    #s-awards {
        margin: 16.667vw 8.33vw
    }
    #s-awards button {
        margin-top: 4.167vw
    }
    #s-awards button:before {
        left: 3vw
    }
    #s-awards .quote {
        margin: 0
    }
    #s-awards .quote .f-8 {
        right: unset;
        bottom: unset;
        position: relative;
        margin-top: 4.167vw
    }
    #s-awards .quote .f-8 br {
        display: none
    }
    #s-awards .logos {
        margin: 16.667vw 0
    }
    #s-awards .logos li {
        width: 50%;
        margin: 5.556vw 0
    }
    #s-awards .logos li:nth-child(3n+2) {
        width: 50%
    }
    #s-awards .logos li:first-child {
        margin: 5.556vw 0
    }
    #s-awards .logos img {
        height: 8.333vw;
        margin-bottom: 1.389vw
    }
    #s-awards .more,
    #s-awards .overview {
        margin: 8.333vw 0
    }
    #s-awards .overview {
        margin-bottom: 0
    }
    #s-awards .more {
        margin-top: 0
    }
    #s-awards .more .year:last-child {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2)
    }
    #s-awards .year {
        padding: 8.333vw 0
    }
    #s-awards .year:nth-child(1) {
        border-top: 1px solid rgba(255, 255, 255, 0.2)
    }
    #s-awards .year:last-child {
        border: none
    }
    #s-awards .year .f-8 {
        top: unset;
        position: relative;
        margin-bottom: 8.333vw
    }
    #s-awards .award {
        padding: 0;
        display: block;
        margin-bottom: 8.333vw
    }
    #s-awards .award:last-child {
        margin-bottom: 0
    }
    #s-awards .award li {
        width: 100%
    }
    #s-awards .award li:nth-child(1):after {
        content: ' :'
    }
    #s-awards .award li:nth-child(1),
    #s-awards .award li:nth-child(2) {
        display: inline
    }
}

#h-bio {
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    color: #fcf6f4
}

#h-bio .heading {
    top: 50%;
    left: 12.5vw;
    right: 12.5vw;
    z-index: 1;
    overflow: hidden;
    position: absolute;
    transform: translateY(-8.355vw)
}

#h-bio .heading img {
    width: 34.722vw
}

#h-bio .mask {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute
}

#h-bio .bottom-c,
#h-bio .bottom-r,
#h-bio .bottom-l,
#h-bio .figure {
    position: absolute
}

#h-bio .bottom-c {
    top: 50%;
    left: 12.5vw;
    width: 26.528vw;
    transform: translateY(9.653vw)
}

#h-bio .bottom-c a {
    display: inline-block
}

#h-bio .bottom-c a:before {
    bottom: 0.2vw
}

#h-bio .bottom-l {
    left: 6.25vw;
    bottom: 6.25vw;
    cursor: pointer
}

#h-bio .bottom-r {
    right: 6.25vw;
    bottom: 6.25vw
}

#h-bio .bottom-r li {
    overflow: hidden
}

#h-bio .bottom-r a {
    display: inline-block
}

#h-bio .figure {
    top: 50%;
    z-index: -1;
    margin-top: -27.083vw
}

#h-bio .figure img {
    height: auto;
    width: 86.319vw;
    backface-visibility: hidden;
    transform: translate(22.042vw, 2.986vw)
}

@media only screen and (max-width: 580px) {
    #h-bio {
        width: auto;
        margin: 0 8.333vw
    }
    #h-bio .heading {
        left: -8.333vw;
        right: -8.333vw;
        display: block;
        padding: 0 8.333vw;
        transform: translate3d(0, -12vw, 0)
    }
    #h-bio .heading img {
        width: 83.333vw
    }
    #h-bio .mask {
        top: 8.333vw;
        bottom: 8.333vw;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end
    }
    #h-bio .bottom-l {
        right: 0;
        bottom: 0;
        left: unset
    }
    #h-bio ul {
        display: flex;
        margin: 0 0 8.333vw 0
    }
    #h-bio li {
        margin-right: 8.333vw
    }
    #h-bio li:last-child {
        margin: 0
    }
    #h-bio .bottom-c,
    #h-bio .bottom-r {
        top: unset;
        left: unset;
        right: unset;
        bottom: unset;
        width: auto;
        transform: unset;
        position: relative
    }
    #h-bio .bottom-r {
        order: 1
    }
    #h-bio .bottom-c {
        order: 2;
        margin-right: 10vw
    }
    #h-bio .figure {
        left: 0;
        right: 0;
        margin: 0;
        transform: translateY(-65vw)
    }
    #h-bio .figure img {
        width: 179.722vw;
        height: 119.722vw;
        transform: translateX(-55.556vw)
    }
}

#s-campaign {
    margin: 0 6.25vw
}

#s-campaign .f-6,
#s-campaign #h-bio .bottom-c p,
#h-bio .bottom-c #s-campaign p {
    max-width: 43.403vw
}

#s-campaign .f-7 {
    top: 0;
    right: 0;
    position: absolute;
    max-width: 18.056vw;
    line-height: 2.014vw
}

#s-campaign .featured {
    position: relative
}

#s-campaign .featured .block {
    display: block;
    height: 36.806vw;
    grid-column: 3/12
}

#s-campaign .featured .thumbnail {
    height: 36.805vw;
    grid-column: 3/12
}

#s-campaign .featured .info {
    grid-column: 3/12;
    position: relative;
    margin-top: 2.083vw;
    padding-bottom: 5.556vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

#s-campaign .project,
#s-campaign .projects {
    display: grid;
    position: relative;
    grid-column-gap: 0.694vw;
    grid-row-gap: 0.694vw;
    grid-template-columns: repeat(12, 1fr)
}

#s-campaign .more {
    position: relative;
    margin-top: 5.556vw
}

#s-campaign .more .block {
    height: 12.014vw
}

#s-campaign .more .block:nth-child(3n+1) {
    grid-column: 3/6
}

#s-campaign .more .block:nth-child(3n+2) {
    grid-column: 6/9
}

#s-campaign .more .block:nth-child(3n+3) {
    grid-column: 9/12
}

@media only screen and (max-width: 580px) {
    #s-campaign {
        margin: 0 8.333vw
    }
    #s-campaign .f-6,
    #s-campaign #h-bio .bottom-c p,
    #h-bio .bottom-c #s-campaign p {
        max-width: unset
    }
    #s-campaign .f-7 {
        display: none
    }
    #s-campaign .featured .block {
        height: 46.667vw;
        grid-column: 1/5
    }
    #s-campaign .featured .thumbnail {
        height: 46.667vw;
        grid-column: 1/5
    }
    #s-campaign .featured .info {
        grid-column: 1/5;
        position: relative;
        margin-top: 5.556vw;
        padding-bottom: 8.333vw
    }
    #s-campaign .project,
    #s-campaign .projects {
        grid-column-gap: 5.556vw;
        grid-row-gap: 2.778vw;
        grid-template-columns: repeat(4, 1fr)
    }
    #s-campaign .more {
        margin-top: 8.333vw
    }
    #s-campaign .more .block {
        grid-column: 1/5;
        height: 46.667vw
    }
    #s-campaign .more .block:nth-child(3n+1) {
        grid-column: 1/5
    }
    #s-campaign .more .block:nth-child(3n+2) {
        grid-column: 1/5
    }
    #s-campaign .more .block:nth-child(3n+3) {
        grid-column: 1/5
    }
}

#s-contact {
    margin: 0 6.25vw
}

#s-contact .f-2 {
    white-space: nowrap;
    letter-spacing: -0.06em
}

#s-contact .f-2:before {
    width: 66vw;
    height: 3px;
    bottom: -1.5vw;
    background: #100f0f
}

#s-contact .f-4,
#s-contact #s-awards h3,
#s-awards #s-contact h3,
#s-contact #h-contact .quote ul,
#h-contact .quote #s-contact ul,
#s-contact #s-story h3,
#s-story #s-contact h3,
#s-contact #s-viral h3,
#s-viral #s-contact h3 {
    margin-bottom: 0.694vw
}

#s-contact .head {
    top: 1vw
}

#s-contact .quote,
#s-contact .heading,
#s-contact .locations {
    margin: 0 0 0 22.153vw
}

#s-contact .quote {
    margin-bottom: 5.556vw
}

#s-contact .locations {
    margin-right: 22vw;
    border-top: 1px solid rgba(255, 255, 255, 0.2)
}

#s-contact .location {
    display: flex;
    height: 4.861vw;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2)
}

#s-contact .location.is-active:after {
    transform: rotate(0)
}

#s-contact .location:hover:before,
#s-contact .location.is-active:before {
    transform: scaleX(1);
    transform-origin: left
}

#s-contact .location:before {
    left: 0;
    bottom: 0;
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    background: #100f0f;
    transform: scaleX(0);
    will-change: transform;
    transform-origin: right;
    transition: transform 0.4s ease-out
}

#s-contact .location:after {
    right: 0;
    top: 2.083vw;
    content: 'â†—';
    position: absolute;
    font-weight: 500;
    font-style: normal;
    font-size: 0.972vw;
    line-height: 1.111vw;
    transform: rotate(180deg);
    transform-origin: center center;
    transition: transform 0.4s ease-out
}

#s-contact .location .f-8 {
    width: 21.528vw;
    height: 4.861vw;
    line-height: 4.861vw
}

#s-contact .location ul {
    opacity: 0
}

#s-contact .location li {
    position: relative
}

#s-contact .location li:first-child {
    height: 4.861vw;
    font-weight: 500;
    line-height: 4.861vw
}

#s-contact .location li:last-child {
    margin-top: 1.389vw
}

#s-contact .heading {
    margin-bottom: 9.028vw
}

.is-light #s-contact .locations {
    border-top: 1px solid rgba(0, 0, 0, 0.1)
}

.is-light #s-contact .location {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.is-bio .f-2:before {
    background: #fcf6f4
}

.is-bio #s-contact .location:before {
    background: #fcf6f4
}

.is-contact #s-contact {
    margin-top: 4.167vw
}

.is-contact #s-contact .head {
    top: 0
}

.is-contact #s-contact .locations {
    margin-left: 14.653vw;
    margin-right: 28.958vw
}

.is-contact #s-contact .location {
    cursor: default
}

.is-contact #s-contact .location:before {
    display: none
}

@media only screen and (max-width: 580px) {
    #s-contact {
        margin: 16.667vw 8.33vw
    }
    #s-contact .f-2 {
        font-size: 17.778vw;
        line-height: 16.667vw;
        letter-spacing: -0.07em
    }
    #s-contact .f-2:before {
        width: 100%;
        margin: 1.389vw 0 0
    }
    #s-contact .f-4,
    #s-contact #s-awards h3,
    #s-awards #s-contact h3,
    #s-contact #h-contact .quote ul,
    #h-contact .quote #s-contact ul,
    #s-contact #s-story h3,
    #s-story #s-contact h3,
    #s-contact #s-viral h3,
    #s-viral #s-contact h3 {
        margin-right: 10vw;
        margin-bottom: 4.167vw
    }
    #s-contact .heading {
        margin: 0
    }
    #s-contact .quote {
        margin: 16.667vw 0
    }
    #s-contact .locations {
        margin: 0
    }
    #s-contact .location {
        display: block;
        height: 19.444vw
    }
    #s-contact .location:after {
        top: 9.1vw;
        width: 2.778vw;
        height: 2.778vw;
        font-size: 3.889vw
    }
    #s-contact .location .f-8 {
        width: 100%;
        height: 19.444vw;
        line-height: 19.444vw
    }
    #s-contact .location li:first-child {
        margin-bottom: 4.167vw
    }
    #s-contact .location li:last-child {
        margin-top: 8.333vw
    }
    .is-contact #s-contact {
        margin-top: 16.667vw
    }
}

@media only screen and (max-width: 580px) and (max-width: 580px) {
    .is-contact #s-contact {
        margin-top: 0
    }
}

@media only screen and (max-width: 580px) {
    .is-contact #s-contact .head {
        display: none
    }
    .is-contact #s-contact .locations {
        margin: 0
    }
}

#a-footer {
    margin: 12.153vw 6.25vw 4.167vw 6.25vw
}

#a-footer ul {
    display: flex
}

#a-footer button {
    color: #100f0f
}

#a-footer button:before {
    right: 0;
    left: 0.8vw;
    width: auto
}

#a-footer li {
    flex-basis: calc(100% / 3)
}

#a-footer li:nth-child(1) {
    text-align: left
}

#a-footer li:nth-child(2) {
    text-align: center
}

#a-footer li:nth-child(3) {
    text-align: right
}

.is-bio #a-footer a:before,
.is-bio #a-footer button:before,
.is-player #a-footer a:before,
.is-player #a-footer button:before {
    background: #fcf6f4
}

@media only screen and (max-width: 580px) {
    #a-footer {
        margin: 16.667vw 8.33vw 8.333vw
    }
    #a-footer button:before {
        left: 3vw
    }
    #a-footer li {
        flex-basis: 50%
    }
    #a-footer li:nth-child(1) {
        display: none
    }
    #a-footer li:nth-child(2) {
        text-align: left
    }
}

#gl {
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    position: fixed;
    pointer-events: none
}

#h-contact {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100)
}

#h-contact>div {
    position: absolute
}

#h-contact .f-8 {
    width: 14.653vw;
    padding-top: 0.5vw
}

#h-contact .f-8:after {
    height: 1px;
    width: 0.833vw;
    content: '';
    display: block;
    background: #100f0f;
    margin-top: 1.181vw
}

#h-contact li {
    overflow-y: hidden;
    position: relative
}

#h-contact em {
    font-size: 0.833vw;
    font-style: normal;
    position: absolute;
    letter-spacing: normal;
    transform: translate(0.3vw, -0.55vw)
}

#h-contact a {
    display: inline-block;
    will-change: transform
}

#h-contact .heading {
    top: 50%;
    left: 6.25vw;
    width: 70vw;
    overflow: hidden;
    transform: translateY(-10.355vw)
}

#h-contact .heading .f-2 {
    text-indent: -0.4vw
}

#h-contact .quote {
    left: 6.25vw;
    bottom: 6.25vw;
    display: flex
}

#h-contact .quote ul {
    font-size: 2.604vw;
    line-height: 2.778vw;
    flex-direction: column;
    letter-spacing: -0.03em
}

#h-contact .quote li {
    padding-right: 2vw
}

#h-contact .social {
    right: 6.25vw;
    bottom: 6.25vw
}

.is-contact #s-contact .location {
    height: auto;
    padding-bottom: 2.083vw
}

@media only screen and (max-width: 580px) {
    .is-contact #s-contact .location {
        padding-bottom: 8.333vw
    }
}

.is-contact #s-contact .location ul {
    opacity: 1
}

.is-contact #s-contact .location:after {
    display: none
}

@media only screen and (max-width: 580px) {
    #h-contact .f-2 {
        font-size: 17.778vw;
        line-height: 15.278vw;
        letter-spacing: -0.07em
    }
    #h-contact .f-8 {
        width: auto;
        margin-bottom: 8.333vw
    }
    #h-contact .f-8:after {
        width: 3.333vw;
        margin-top: 4.167vw
    }
    #h-contact em {
        font-size: 2.778vw;
        transform: translate(0.8vw, -1.7vw)
    }
    #h-contact .heading {
        width: auto;
        left: 8.333vw;
        right: 8.333vw;
        transform: translate3d(0, -12vh, 0)
    }
    #h-contact .quote {
        left: 8.333vw;
        right: 8.333vw;
        bottom: 8.333vw;
        display: block
    }
    #h-contact .quote ul {
        max-width: 75vw;
        font-size: 8.333vw;
        line-height: 9.167vw
    }
    #h-contact .social {
        display: none
    }
}

#h-campaign .f-3 {
    text-indent: -0.8vw
}

#h-campaign .nav {
    top: 6.25vw;
    left: 20.972vw;
    position: fixed;
    overflow: hidden
}

#h-campaign a:hover:before,
#h-campaign a.is-active:before {
    transform: scaleX(1);
    transform-origin: center center
}

#h-campaign a:before {
    transform: scaleX(0);
    transform-origin: center center
}

#h-campaign .heading {
    overflow: hidden;
    margin: 25vh 20.972vw 5.556vw
}

#h-campaign .f-3 small {
    line-height: 1;
    position: absolute;
    margin: 0.6vw 0 0 1vw
}

@media only screen and (max-width: 580px) {
    #h-campaign .nav {
        top: unset;
        left: unset;
        margin-top: 25vw;
        position: relative;
        margin-left: 8.333vw
    }
    #h-campaign .heading {
        margin: 8.333vw
    }
    #h-campaign .f-3 small {
        transform: unset
    }
}

#h-hero {
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    color: #100f0f
}

#h-hero .f-5 .line:last-child div:after {
    content: 'Â©';
    font-size: 1.649vw;
    font-style: normal;
    display: inline-block;
    transform: translate(-0.5vw, -1vw)
}

#h-hero .f-7 {
    line-height: 2.5vw;
    margin-bottom: 2.778vw
}

#h-hero .f-7 .line {
    position: relative
}

#h-hero .f-7 .line div {
    display: inline-flex
}

#h-hero .f-7 .line div:before {
    top: 0.8vw;
    left: -0.8vw;
    width: 0.556vw;
    height: 0.556vw;
    content: '';
    display: block;
    position: absolute;
    animation: spinning 10s linear infinite;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./svg/icon-star.svg)
}

#h-hero .heading {
    top: 50%;
    left: 6.25vw;
    right: 6.25vw;
    z-index: 1;
    display: flex;
    overflow: hidden;
    position: absolute;
    transform: translateY(-8.355vw)
}

#h-hero .heading img {
    width: 34.722vw;
    margin-left: auto;
    backface-visibility: hidden
}

#h-hero .mask {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute
}

#h-hero .bottom-r,
#h-hero .bottom-l {
    position: absolute
}

#h-hero .bottom-l {
    left: 6.25vw;
    bottom: 6.25vw
}

#h-hero .bottom-l p {
    margin-bottom: 1.944vw
}

#h-hero .bottom-r {
    right: 6.25vw;
    bottom: 6.25vw;
    text-align: right
}

@media only screen and (max-width: 580px) {
    #h-hero {
        width: auto;
        margin: 0 8.333vw
    }
    #h-hero .f-5 .line:last-child div:after {
        font-size: 3.889vw;
        transform: translateY(-2vw)
    }
    #h-hero .f-7 {
        line-height: 7.5vw;
        margin-bottom: 8.333vw
    }
    #h-hero .f-7 .line {
        padding-left: 1.944vw
    }
    #h-hero .f-7 .line div:before {
        top: 1.5vw;
        left: -2vw;
        width: 1.944vw;
        height: 1.944vw
    }
    #h-hero .heading {
        left: -8.333vw;
        right: -8.333vw;
        display: block;
        padding: 0 8.33vw;
        transform: translate3d(0, -12vw, 0)
    }
    #h-hero .heading img {
        width: 83.333vw
    }
    #h-hero .mask {
        top: 8.333vw;
        bottom: 8.333vw;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end
    }
    #h-hero .bottom-l,
    #h-hero .bottom-c,
    #h-hero .bottom-r {
        top: unset;
        left: unset;
        right: unset;
        bottom: unset;
        width: auto;
        transform: unset;
        position: relative
    }
    #h-hero .center-r {
        order: 2;
        transform: none;
        margin-bottom: 8.333vw
    }
    #h-hero .bottom-l {
        top: 30vw;
        position: absolute
    }
    #h-hero .bottom-l p {
        display: none
    }
    #h-hero .bottom-r {
        order: 3;
        text-align: left
    }
}

#s-info {
    margin-top: 100vh;
    margin-top: calc(var(--vh, 1vh) * 100);
    background: linear-gradient(to bottom, rgba(16, 15, 15, 0) 0%, #100f0f 50%)
}

#s-info .f-5 {
    margin-bottom: 2.431vw
}

#s-info .f-5,
#s-info .f-6,
#s-info #h-bio .bottom-c p,
#h-bio .bottom-c #s-info p {
    max-width: 35.903vw
}

#s-info .details,
#s-info .heading,
#s-info .awards {
    margin: 0 13.681vw
}

#s-info .details {
    padding: 6.944vw 0
}

#s-info .details ul {
    display: flex
}

#s-info .details li {
    flex-basis: 20%
}

#s-info .awards {
    border-top: 1px solid rgba(255, 255, 255, 0.2)
}

#s-info .heading,
#s-info .awards {
    padding-bottom: 6.944vw
}

#s-info .heading {
    position: relative
}

#s-info .heading h1 {
    width: auto;
    height: auto;
    overflow: visible;
    position: relative;
    text-indent: inherit
}

#s-info .heading ul {
    top: 0;
    left: 43.75vw;
    display: flex;
    flex-wrap: wrap;
    position: absolute
}

#s-info .heading ul li {
    width: 5.903vw;
    height: 5.903vw;
    display: flex;
    align-items: center;
    border-radius: 100%;
    margin-right: 1.389vw;
    margin-bottom: 1.389vw;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.2)
}

#s-info .heading ul li:last-child {
    margin-right: 0
}

#s-info .heading img {
    height: 2.778vw
}

#s-info .year {
    position: relative;
    padding: 2.083vw 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2)
}

#s-info .year .f-8 {
    left: 0;
    top: 2.083vw;
    position: absolute
}

#s-info .award {
    display: flex;
    padding-left: 7.639vw
}

#s-info .award li:nth-child(1) {
    width: 14.792vw
}

.is-device #s-info {
    display: none
}

#a-menu {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    position: absolute;
    pointer-events: none;
    backface-visibility: hidden
}

#a-menu .menu-d {
    color: #100f0f;
    padding: 6.25vw
}

#a-menu .menu-l {
    color: #fcf6f4;
    padding: 6.25vw
}

#a-menu .menu-l a:before {
    background: #fcf6f4
}

#a-menu ul {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    position: absolute;
    align-items: flex-start;
    backface-visibility: hidden
}

#a-menu li {
    overflow: hidden;
    pointer-events: all;
    margin-left: 1.042vw
}

#a-menu li:first-child {
    margin: 0
}

#a-menu li:last-child {
    margin: 0;
    right: 6.25vw;
    position: absolute
}

#a-menu a {
    display: block;
    position: relative
}

#a-menu a:hover:before,
#a-menu a.is-active:before {
    transform: scaleX(1);
    transform-origin: center center
}

#a-menu a:before {
    transform: scaleX(0);
    transform-origin: center center
}

.is-preloading #a-menu {
    visibility: hidden
}

@media only screen and (max-width: 580px) {
    #a-menu .menu-d,
    #a-menu .menu-l {
        padding: 8.333vw
    }
    #a-menu a {
        text-decoration: none
    }
    #a-menu a:before {
        transition: transform 0.4s ease-out
    }
    #a-menu li {
        margin-left: 5.556vw
    }
    #a-menu li:last-child {
        right: 8.333vw
    }
}

#s-player {
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    position: absolute;
    background: black
}

#s-player video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain
}

#s-player .loader {
    top: 6.25vw;
    right: 6.25vw;
    width: 2.083vw;
    height: 2.083vw;
    z-index: 9;
    position: absolute
}

#s-player .back {
    z-index: 9;
    position: absolute;
    pointer-events: none
}

#s-player .cursor {
    opacity: 0;
    color: #fcf6f4;
    margin-left: 2vw;
    font-size: 0.972vw
}

#s-player .video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute
}

#s-player .controls {
    left: 6.25vw;
    right: 6.25vw;
    bottom: 6.25vw;
    height: 1.042vw;
    z-index: 1;
    color: white;
    position: absolute;
    line-height: 1.042vw;
    text-transform: uppercase
}

#s-player .play,
#s-player .info {
    height: 100%;
    cursor: pointer;
    font-weight: 500;
    position: absolute
}

#s-player .play {
    left: 0
}

#s-player .info {
    right: 0;
    text-align: right
}

#s-player .timeline {
    top: 0;
    left: 7.5vw;
    right: 7.5vw;
    height: 100%;
    position: absolute
}

#s-player .timeline:after {
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
    content: '';
    position: absolute;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.2)
}

#s-player .timer {
    width: 0;
    left: -1vw;
    top: 1.5vw;
    text-align: center;
    font-size: 0.833vw;
    position: absolute
}

#s-player .progress {
    left: 0;
    right: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    position: absolute;
    pointer-events: none;
    transform: translateY(-50%)
}

#s-player .progress {
    appearance: none;
    -webkit-appearance: none
}

#s-player .progress::-webkit-progress-bar {
    background-color: transparent
}

#s-player .progress::-webkit-progress-value {
    background: #fcf6f4
}

#s-player .range {
    left: 0;
    right: 0;
    top: 50%;
    z-index: 3;
    width: 100%;
    cursor: pointer;
    appearance: none;
    position: absolute;
    background: transparent;
    -webkit-appearance: none;
    transform: translateY(-50%)
}

#s-player .range::-webkit-slider-thumb {
    -webkit-appearance: none
}

#s-player .range:focus {
    outline: none
}

#s-player .range::-ms-track {
    width: 100%;
    cursor: pointer;
    color: transparent;
    background: transparent;
    border-color: transparent
}

#s-player .range::-webkit-slider-thumb {
    width: 0.347vw;
    height: 0.347vw;
    cursor: pointer;
    background: #fcf6f4;
    border-radius: 1vw;
    -webkit-appearance: none
}

#s-player .range::-moz-range-thumb {
    width: 0.347vw;
    height: 0.347vw;
    cursor: pointer;
    background: #fcf6f4;
    border-radius: 1vw
}

#s-player .range::-ms-thumb {
    width: 0.347vw;
    height: 0.347vw;
    cursor: pointer;
    background: #fcf6f4;
    border-radius: 1vw
}

.is-device .is-player #a-footer {
    display: none
}

.is-device #s-player {
    position: relative
}

.is-device #s-player .controls {
    display: none
}

#a-player {
    top: 0;
    left: 0;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    background: #100f0f;
    align-items: center
}

#s-roots {
    color: #fcf6f4;
    margin: 0 6.528vw 12.5vw
}

#s-roots .f-2 {
    position: relative
}

#s-roots .f-2 .line {
    position: relative
}

#s-roots .f-2 .line:nth-child(3):after {
    top: 1.2vw;
    right: 3.5vw;
    width: 1.181vw;
    height: 1.181vw;
    content: '';
    position: absolute;
    background-size: 1.181vw;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./svg/icon-world.svg)
}

#s-roots .f-9 {
    margin-top: 0.694vw
}

#s-roots img {
    height: 21.181vw
}

#s-roots .head {
    top: 1.25vw
}

#s-roots .heading {
    margin: 0 13.75vw
}

#s-roots .imagery {
    display: flex;
    margin: 6.944vw 0 0 14.653vw
}

#s-roots .imagery>div:nth-child(1) {
    width: 15.069vw
}

#s-roots .imagery>div:nth-child(2) {
    width: 28.194vw;
    margin-right: 1.389vw
}

#s-roots .imagery>div:nth-child(3) {
    width: 13.472vw
}

@media only screen and (max-width: 580px) {
    #s-roots {
        margin: 16.667vw 8.333vw
    }
    #s-roots .f-2 .line:nth-child(3):after {
        right: 0;
        top: 1.389vw;
        width: 3.333vw;
        height: 3.333vw;
        background-size: contain
    }
    #s-roots .f-9 {
        margin-top: 16.667vw
    }
    #s-roots .heading {
        margin: 0
    }
    #s-roots .imagery {
        display: block;
        margin: 4.167vw 0 8.333vw 0
    }
    #s-roots .imagery>div:nth-child(1) {
        width: 100%
    }
    #s-roots .imagery>div:nth-child(2) {
        margin: 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap
    }
    #s-roots .imagery>div:nth-child(2) img {
        order: 2;
        height: 100%;
        margin: 4.167vw 0
    }
    #s-roots .imagery>div:nth-child(3) {
        width: 100%
    }
}

#s-story {
    color: #fcf6f4;
    margin: 0 6.25vw
}

#s-story h3 {
    margin-bottom: 0.694vw
}

#s-story .f-9 {
    margin-top: 0.694vw
}

#s-story .quote {
    margin: 0 14.792vw
}

#s-story .row {
    display: flex;
    margin: 10.417vw 0
}

#s-story .row.l1 {
    margin-left: 14.792vw
}

#s-story .row.l1 img {
    width: 28.264vw;
    height: 21.736vw
}

#s-story .row.l1>div:nth-child(1) {
    margin-right: 1.389vw
}

#s-story .row.l1>div:nth-child(2) {
    width: 13.472vw
}

#s-story .row.l2,
#s-story .row.l4 {
    margin-left: 37.014vw
}

#s-story .row.l2 img,
#s-story .row.l4 img {
    width: 28.194vw;
    height: 19.722vw
}

#s-story .row.l2>div:nth-child(1),
#s-story .row.l4>div:nth-child(1) {
    margin-right: 1.389vw
}

#s-story .row.l2>div:nth-child(2),
#s-story .row.l4>div:nth-child(2) {
    width: 13.403vw
}

#s-story .row.l3 {
    text-align: right;
    margin-left: 14.722vw
}

#s-story .row.l3 img {
    width: 28.264vw;
    height: 28.264vw
}

#s-story .row.l3>div:nth-child(1) {
    order: 2;
    margin-left: 1.389vw
}

#s-story .row.l3>div:nth-child(2) {
    width: 13.403vw
}

#s-story .row.l4 img {
    height: 19.028vw
}

@media only screen and (max-width: 580px) {
    #s-story {
        margin: 16.667vw 8.33vw
    }
    #s-story h3 {
        margin-bottom: 4.167vw
    }
    #s-story .f-9 {
        margin: 0
    }
    #s-story .quote {
        margin: 16.667vw 0
    }
    #s-story .row {
        display: block;
        margin: 16.667vw 0
    }
    #s-story .row:first-child {
        margin-top: 0
    }
    #s-story .row:last-child {
        margin-bottom: 0
    }
    #s-story .row.l1,
    #s-story .row.l2,
    #s-story .row.l3,
    #s-story .row.l4 {
        margin-left: 0;
        text-align: left
    }
    #s-story .row.l1 img,
    #s-story .row.l2 img,
    #s-story .row.l3 img,
    #s-story .row.l4 img {
        order: 2;
        width: 100%;
        height: 100%;
        margin: 4.167vw 0
    }
    #s-story .row.l1>div:nth-child(1),
    #s-story .row.l2>div:nth-child(1),
    #s-story .row.l3>div:nth-child(1),
    #s-story .row.l4>div:nth-child(1) {
        margin: 0;
        display: flex;
        flex-wrap: wrap
    }
    #s-story .row.l1>div:nth-child(2),
    #s-story .row.l2>div:nth-child(2),
    #s-story .row.l3>div:nth-child(2),
    #s-story .row.l4>div:nth-child(2) {
        width: auto
    }
}

.block {
    overflow: hidden;
    position: relative
}

.block .src {
    display: none
}

.block .title {
    z-index: 3;
    opacity: 0;
    width: 100%;
    color: #fcf6f4;
    display: block;
    position: absolute;
    text-align: center;
    pointer-events: none
}

.block .title span {
    display: block;
    font-weight: 500;
    font-size: 2.083vw;
    line-height: 2.083vw;
    letter-spacing: -0.02em
}

.block .thumbnail {
    z-index: 1;
    backface-visibility: hidden
}

.block .thumbnail,
.block .thumbnail-hit {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute
}

.block .thumbnail-hit {
    flex-direction: column
}

.block .thumbnail-hit div {
    flex: 1;
    height: 100%
}

.block video {
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    opacity: 0;
    z-index: 1;
    object-fit: cover;
    position: absolute
}

.block img {
    top: 0;
    left: 0;
    position: absolute
}

.block a {
    width: 100%;
    height: 100%;
    display: block
}

@media only screen and (max-width: 580px) {
    .block video {
        display: none
    }
    .block .title {
        left: 4.167vw;
        right: 4.167vw;
        bottom: 4.167vw;
        opacity: 1;
        width: auto;
        text-align: left
    }
    .block .title span {
        line-height: 5vw;
        font-size: 5.556vw;
        letter-spacing: -0.02em
    }
    .block .title h3 {
        font-size: 3.889vw
    }
    .block .thumbnail:before {
        top: 0;
        left: 0;
        z-index: 2;
        content: '';
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 51.04%, rgba(0, 0, 0, 0.6) 100%)
    }
    .block .thumbnail-hit {
        display: none
    }
}

.is-device [data-src] a {
    pointer-events: none
}

#s-viral {
    color: #fcf6f4;
    margin: 0 6.528vw 14.583vw
}

#s-viral .f-1 {
    display: flex;
    overflow: hidden;
    white-space: nowrap
}

#s-viral .f-1 span {
    height: 15.833vw;
    line-height: 15.931vw;
    display: flex;
    flex-direction: column
}

#s-viral .f-1 span:nth-child(1),
#s-viral .f-1 span:nth-child(2) {
    width: 10.069vw;
    text-align: center
}

#s-viral .f-1 span:nth-child(3) {
    margin-left: 1.944vw
}

#s-viral .f-1 span i {
    font-style: normal
}

#s-viral h3 {
    margin-bottom: 0.694vw
}

#s-viral .f-9 {
    margin-top: 0.694vw
}

#s-viral .head {
    top: 1.25vw
}

#s-viral .youtube {
    margin: 0 0 10.417vw 14.792vw
}

#s-viral .youtube .f-8 {
    text-align: right;
    margin-top: 0.694vw;
    margin-right: 1.597vw
}

#s-viral .quote {
    margin: 0 0 12.5vw 22.222vw
}

#s-viral .row {
    display: flex;
    margin: 10.417vw 0
}

#s-viral .row.l1 {
    margin-left: 29.653vw
}

#s-viral .row.l1 img {
    width: 28.194vw;
    height: 18.819vw
}

#s-viral .row.l1>div:nth-child(1) {
    margin-right: 1.389vw
}

#s-viral .row.l1>div:nth-child(2) {
    width: 13.472vw
}

#s-viral .row.l2 {
    margin-left: 22.222vw
}

#s-viral .row.l2 img {
    width: 28.125vw;
    height: 22.639vw
}

#s-viral .row.l2>div:nth-child(1) {
    margin-right: 1.389vw
}

#s-viral .row.l2>div:nth-child(2) {
    width: 13.472vw
}

@media only screen and (max-width: 580px) {
    #s-viral {
        margin: 16.667vw 8.333vw
    }
    #s-viral .f-1 span {
        height: 16.833vw;
        line-height: 16.931vw
    }
    #s-viral .f-1 span:nth-child(1),
    #s-viral .f-1 span:nth-child(2) {
        width: 11.111vw
    }
    #s-viral .f-1 span:nth-child(3) {
        margin-left: 4vw
    }
    #s-viral .f-1 span i {
        font-style: normal
    }
    #s-viral .f-9 {
        margin-top: 0
    }
    #s-viral h3 {
        max-width: 65vw;
        text-align: left;
        margin-bottom: 0
    }
    #s-viral h3 br {
        display: none
    }
    #s-viral .f-8 {
        text-align: left;
        margin-top: 4.167vw
    }
    #s-viral .f-8 br {
        display: none
    }
    #s-viral .youtube,
    #s-viral .quote {
        margin: 0
    }
    #s-viral .youtube .f-8 {
        margin-right: 0;
        text-align: left;
        margin-top: 4.167vw
    }
    #s-viral .quote {
        margin: 16.667vw 0
    }
    #s-viral .row {
        display: block;
        margin: 16.667vw 0
    }
    #s-viral .row:first-child {
        margin-top: 0
    }
    #s-viral .row:last-child {
        margin-bottom: 0
    }
    #s-viral .row.l1,
    #s-viral .row.l2 {
        margin-left: 0;
        text-align: left
    }
    #s-viral .row.l1 img,
    #s-viral .row.l2 img {
        order: 2;
        width: 100%;
        height: 100%;
        margin: 4.167vw 0
    }
    #s-viral .row.l1>div:nth-child(1),
    #s-viral .row.l2>div:nth-child(1) {
        margin: 0;
        display: flex;
        flex-wrap: wrap
    }
    #s-viral .row.l1>div:nth-child(2),
    #s-viral .row.l2>div:nth-child(2) {
        width: auto
    }
}

#s-work {
    margin: 11.806vw 6.25vw
}

#s-work .row {
    display: grid;
    position: relative;
    margin-bottom: 0.694vw;
    grid-column-gap: 0.694vw;
    grid-template-columns: repeat(12, 1fr)
}

.l-a .block {
    height: 20.278vw;
    grid-column: 5/10
}

.l-b .block:nth-child(1) {
    order: 2;
    height: 32.5vw;
    grid-column: 7/13
}

.l-b .block:nth-child(2) {
    height: 21.528vw;
    grid-column: 3/7
}

.l-c .block:nth-child(1) {
    height: 32.569vw;
    grid-column: 3/9
}

.l-c .block:nth-child(2) {
    height: 21.458vw;
    grid-column: 9/13
}

.l-d .block {
    height: 28.472vw;
    grid-column: 4/11
}

.l-e .block:nth-child(1) {
    height: 20.278vw;
    grid-column: 3/8
}

.l-e .block:nth-child(2) {
    height: 20.278vw;
    grid-column: 8/12;
    margin-right: 1.667vw
}

@media only screen and (max-width: 580px) {
    #s-work {
        margin: 16.667vw 8.333vw
    }
    #s-work .head {
        left: unset;
        position: relative
    }
    #s-work .row {
        margin-bottom: 0;
        grid-column-gap: 0;
        grid-template-columns: repeat(4, 1fr)
    }
    #s-work .row:last-child .block {
        margin: 0
    }
    #s-work .block {
        grid-column: 1/5;
        margin-bottom: 2.778vw
    }
    #s-work .l-a .block {
        height: 46.667vw
    }
    #s-work .l-b .block:nth-child(1) {
        height: 62.5vw
    }
    #s-work .l-b .block:nth-child(2) {
        height: 62.5vw
    }
    #s-work .l-c .block:nth-child(1) {
        height: 62.5vw
    }
    #s-work .l-c .block:nth-child(2) {
        height: 62.5vw
    }
    #s-work .l-d .block {
        height: 46.667vw
    }
    #s-work .l-e .block:nth-child(1) {
        height: 46.667vw
    }
    #s-work .l-e .block:nth-child(2) {
        margin-right: 0;
        height: 62.222vw
    }
}